* {
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  /* background-color: #39445a; */
  background-color: var(--main-bg-color);
  /* color: white; */
  color: var(--primary-text-color);
  padding-top: 130px;
  padding-bottom: 70px;
}

/* @media (max-width: 800px) {
  .app {
    padding-top: 80px;
  }
} */

@media (max-width: 1000px) {
  .app {
    padding-top: 130px;
  }
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 3vw;
  padding: 4px;
  border-radius: 50px;
  /* color: white; */
  color: var(--primary-text-color);
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
}